@media (max-height: 850px) and (max-width: 450px) {
  #landing {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
  }

  .ttt_containers {
    margin: 5px;
    height: 25vh;
    border: 3px solid black;
  }
}
