@media (min-height: 450px) and (min-width: 450px) {
  #landing {
    width: 700px;
    width: 670px;
  }

  .ttt_letters {
    height: 175px;
    margin: 15px;
    width: 175px;
  }
  .ttt_containers {
    margin: 20px;
  }
}
