:root {
  --background: black;
}

body {
  background-color: var(--background);
}

#landing {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ttt_containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.ttt_letters {
  display: grid;
  grid-template-columns: repeat(5, 0.75fr);
  grid-template-rows: repeat(5, 0.75fr);
  gap: 1px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Rubik Mono One", sans-serif;
}

#player_vs_container {
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: white;
  color: black;
}

@keyframes pvp {
  0% {
    background-color: hsl(119, 100%, 50%, 1);
  }

  10% {
    background-color: hsl(119, 100%, 50%, 0.95);
  }

  20% {
    background-color: hsl(119, 100%, 50%, 0.9);
  }

  30% {
    background-color: hsl(119, 100%, 50%, 0.85);
  }

  40% {
    background-color: hsl(119, 100%, 50%, 0.8);
  }

  50% {
    background-color: hsl(119, 100%, 50%, 0.75);
  }

  60% {
    background-color: hsl(119, 100%, 50%, 0.8);
  }

  70% {
    background-color: hsl(119, 100%, 50%, 0.85);
  }

  80% {
    background-color: hsl(119, 100%, 50%, 0.9);
  }

  90% {
    background-color: hsl(119, 100%, 50%, 0.95);
  }

  100% {
    background-color: hsl(119, 100%, 50%, 1);
  }
}

#player_vs_player {
  border-radius: 1em;
  border-top: 2px solid white;
  border-right: 4px solid white;
}

#player_vs_player:hover {
  animation: pvp 1.5s infinite;
  animation-direction: alternate;
}

@keyframes pvc {
  0% {
    background-color: rgb(251, 4, 41);
  }

  10% {
    background-color: rgb(251, 4, 41, 0.95);
  }

  20% {
    background-color: rgb(251, 4, 41, 0.9);
  }

  30% {
    background-color: rgb(251, 4, 41, 0.85);
  }

  40% {
    background-color: rgb(251, 4, 41, 0.8);
  }

  50% {
    background-color: rgb(251, 4, 41, 0.75);
  }

  60% {
    background-color: rgb(251, 4, 41, 0.8);
  }

  70% {
    background-color: rgb(251, 4, 41, 0.85);
  }

  80% {
    background-color: rgb(251, 4, 41, 0.9);
  }

  90% {
    background-color: rgb(251, 4, 41, 0.95);
  }

  100% {
    background-color: rgb(251, 4, 41);
  }
}

#player_vs_computer {
  border-radius: 1em;
  border-bottom: 2px solid white;
  border-left: 4px solid white;
}

#player_vs_computer:hover {
  animation: pvc 1.5s infinite;
  animation-direction: alternate;
}
