#landing {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ttt_containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border: 3px solid black;
}

.ttt_letters {
  display: grid;
  grid-template-columns: repeat(5, 0.75fr);
  grid-template-rows: repeat(5, 0.75fr);
  gap: 1px;
  border: 3px solid black;
}

.grid_tile {
  border: 1px solid black;
  border-radius: 0.3em;
}
