/* @media (max-height: 450px) and (max-width: 850px) { */
@media (max-height: 450px) {
  #landing {
    width: 45vw;
  }

  .ttt_letters {
    margin: 5px 10px;
    height: 20vh;
    width: 20vw;
  }

  .grid_tile {
    border-radius: 0.2em;
  }
}
