/* @media (max-height: 450px) and (max-width: 850px) { */
@media (max-height: 450px) {
  #landing {
    width: 45vw;
  }

  .ttt_letters {
    margin: 5px 10px;
    height: 18vh;
    width: 18vw;
  }

  .grid_tile {
    border-radius: 0.2em;
  }

  .button {
    font-size: 1.2em;
    margin: 25px 20px;
    padding: 0px 15px;
  }
}
